{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1></h1>
    </div>
</div>
<div class="col-4">
     <img src="assets/img/img.png" class="img-thumbnail">
</div>

{{> footer}}
